<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> All Users</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="table">

            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Email</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Name</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="role">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Role</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Status</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
