<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> All Fund Requests</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="table">

            <ng-container matColumnDef="helpRequestUsername">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Help Request Username </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.helpRequestUsername}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="contactNumber">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Contact Number </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.contactNumber}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="totalRaisedAmount">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Total Raised Amount ($) </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.totalRaisedAmount}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="expireDate">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> End Date </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.expireDate}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="helpType">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Help Type </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.helpType}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Status </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="donationsDetails">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> view </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <td>
                  <div class="update ml-auto mr-auto">
                    <button type="submit" class="btn btn-danger btn-round"
                            (click)="viewDonationsDetails(element.fundRequestId)">Vew Donations
                    </button>
                  </div>
                </td>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12" *ngIf="dataSourceDonations!=null">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Donations Details</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSourceDonations" class="table">

            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Donor Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Donated Amount ($) </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="donatedDate">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Donated Date </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.donatedDate}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Status </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsDonations"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsDonations;"></mat-row>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
