

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Pending Organizations</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="table">

            <ng-container matColumnDef="orgName">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Organization Name</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.orgName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="location">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Location</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> username</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> email</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> approve</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <td>
                  <p style="margin:0;">

                    <button type="submit" class="btn accept-button btn-round btn-sm"><i
                      class="nc-icon nc-check-2" (click)="approveOrganization(element.uuid)"></i></button>
                  </p>
                </td>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Active Organizations</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table mat-table [dataSource]="allOrganizationDataSource" class="table">

            <ng-container matColumnDef="orgName">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Organization Name</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.orgName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="location">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Location</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> username</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> email</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> temporary block</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <td>
                  <div class="update ml-auto mr-auto">
                    <button type="submit" class="btn btn-danger btn-round"
                            (click)="blockOrganization(element.uuid)">BLOCK
                    </button>
                  </div>
                </td>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
