<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> All Help Requests</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="table">

            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Username </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.userScreen.userName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="helpType">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Help Type </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.helpRequestScreen.helpType}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Description </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.helpRequestScreen.description}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Status </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.helpRequestScreen.status}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="location">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Location </mat-header-cell>
              <mat-cell *matCellDef="let element"> N/A </mat-cell>
            </ng-container>

            <ng-container matColumnDef="organizationName">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Organization Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.organizationScreen == null ? 'N/A' : element.organizationScreen.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="fundRaisedAmount">
              <mat-header-cell *matHeaderCellDef class=" text-danger"> Fund Raised Amount ($)</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.fundRequestScreen == null ? 'N/A' : element.fundRequestScreen.fundRaisedAmount}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
